<h1>Your Shopping Cart</h1>

<% if @cart.blank? %>
  <p>Your cart is empty.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |product_id, item| %>
        <tr>
          <td><%= item[:name] %></td>
          <td><%= item[:quantity] %></td>
          <td><%= number_to_currency(item[:price]) %></td>
          <td><%= number_to_currency(item[:price] * item[:quantity]) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total:</td>
        <td><%= number_to_currency(@cart.values.sum { |item| item[:price] * item[:quantity] }) %></td>
      </tr>
    </tfoot>
  </table>

  <%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
<% end %>
