<nav class="navbar">
  <ul>
    <% if user_signed_in? %>
      <li class="username"><%= @username %></li>
    <% end %>
    <li><%= link_to 'Products', root_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
    <li><%= link_to 'About', about_page_path('About Page') %></li>
    <li><%= link_to 'Contact', contact_page_path('Contact Page') %></li>

    <li>
      <%= form_tag(search_path, method: :get, class: "search-form") do %>
        <%= text_field_tag(:search, params[:search], class: "search-bar", placeholder: 'Search for products...') %>
        <%= select_tag(:category, options_for_select(Category.all.map { |c| [c.category_name, c.id] }, params[:category]), include_blank: 'Select a category') %>
        <%= submit_tag('Search') %>
      <% end %>
    </li>
    <div class="quantity_buttons">
    <% if !user_signed_in? %>
      <li><a href="/users/sign_in">Login</a></li>
      <li><%= link_to 'Register', new_user_registration_path %></li>
    <% else %>
      <%= link_to 'Shopping Cart', cart_path(current_user), class: 'button' %>
      <%= form_tag(destroy_user_session_path, method: :delete) do %>
        <%= submit_tag 'Logout', class: 'button' %>
      <% end %>
    <% end %>
    </div>
  </ul>
</nav>