<div id="<%= dom_id product %>">
  <p class="center-image">
    <% if product.image.attached? %>
      <%= image_tag product.image, width: 255, height: 200 %>
    <% else %>
      <%= "No image attached" %>
    <% end %>
  </p>

  <p>
    <strong><%= product.product_name %></strong>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= product.price %>
  </p>
</div>