<div id="<%= dom_id product %>">

  <p>
    <strong><%= product.product_name %></strong>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= product.price %>
  </p>
  <div class='quantity_buttons'>
  <%= form_with(url: add_to_cart_cart_path(@cart, id: product.id), method: :post) do |form| %>
    <%= form.submit 'Add to Cart' %>
  <% end %>
  </div>
</div>