<div id="<%= dom_id product %>">
  <p class="center-image">
    <%= image_tag product.image if product.image.attached? %>
  </p>

  <p>
    <strong>Categories:</strong>
  <%= product.category.category_name %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Stock quantity:</strong>
    <%= product.stock_quantity %>
  </p>

</div>
