<div id="<%= dom_id product %>">
  <p>
    <strong>Categories:</strong>
    <%= product.categories_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Stock quantity:</strong>
    <%= product.stock_quantity %>
  </p>

  <p>
    <strong>Image file:</strong>
    <%= product.image_file %>
  </p>

</div>
