<p style="color: green"><%= notice %></p>
<h1>Products</h1>

<div class="product-cards">
  <% @products.each do |product| %>
  <div class="product-card">
    <p class="center-image">
      <% if product.image.attached? %>
      <a href="<%= product_path(product) %>"><%= image_tag product.image, width: 255, height: 200 %></a>
      <% else %>
        <%= "No image attached" %>
      <% end %>
    </p>
    <%= render product %>
  </div>
  <% end %>
</div>

<%# <%= link_to "New product", new_product_path %>
