<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%# <%= link_to "Edit this product", edit_product_path(@product) | %>
  <%= form_with(url: add_to_cart_cart_path(@cart, id: @product.id), method: :post) do |form| %>
    <%= form.submit 'Add to Cart' %>
  <% end %>

  <%= form_with(url: remove_from_cart_cart_path(@cart, id: @product.id), method: :post) do |form| %>
    <%= form.submit 'Remove from Cart' %>
  <% end %>

  <%= link_to "Back to products", products_path %>

  <%# <%= button_to "Destroy this product", @product, method: :delete %>
</div>
